body {
  font-family: "Cutive Mono", monospace;}
body{ background-color: #496D45; }
.grid-container-1 {display: grid;
grid-template-columns: 20% 20% 20% 20%;
grid-tempalate-rows: 10% 90%;
grid-column-gap: 70px;
grid-row-gap: 0px;
}